
.navbar-side { 
    max-height: calc(100vh - 9rem) !important;
        overflow-y: auto !important;
  } 
  .nav > li > a > i {
    margin-right: 0px !important; 
  }
.flexcroll{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    }
    
/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
    width: 8px;
    }
    
    /* Track */
    .flexcroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    }
    
    /* Handle */
    .flexcroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 10px;
    background: rgba(2, 2, 2, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    } 
    .text-red
    {
        color: red;
    }
    #page-inner {
        padding: 0px 30px !important;
    }
    .page-header { 
        padding: 12px 22px 12px 0 !important; 
        font-size: 26px !important; 
    } 
    #page-wrapper { 
        min-height: 500px !important; 
    }
    #page-inner {
        min-height: 500px !important; 
    }
    footer.sticky-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; 
        right: 0;
        bottom: 0;
        width: calc(100% - 50%);
        height: 80px; 
    }
    .help-inline {
        color: red;
      }
    .modal-header {
        min-height: 12.43px !important;
        padding: 12px !important;
        border-bottom: 1px solid #e5e5e5 !important;
    }
    .modal-alert { 
        background-color:  #eca201 !important;
        border-radius: 8px 8px 0px 0px !important;
    }
    label
    {
        text-transform: inherit !important;
    }